{{ define "main" }}

<h1 class="pt-10 text-4xl text-center">
  secure e-voting in your pocket
</h1>

<div class="grid lg:grid-cols-2 pt-2">
  <div class="border-4 border-purple-700 m-2 pt-3">
    <h2 class="text-xl text-center">
      Privacy
    </h2>
    <div class="p-3">
      Nobody can read the content of your vote.<br />
      We use public-key <b>cyptography</b> to encrypt votes and authenticate ballots.
    </div>
  </div>
  <div class="border-4 border-purple-700 m-2 pt-3">
    <h2 class="text-xl text-center">
      Verifiability
    </h2>
    <div class="p-3">
      The election process is <b>transparent</b> and <b>verifiable</b>.<br />
    </div>
  </div>
  <div class="border-4 border-purple-700 m-2 pt-3">
    <h2 class="text-xl text-center">
      Open-source 💚
    </h2>
    <div class="prose p-3">
      You can freely use, study and share this software.<br />
      <a href="https://github.com/scrutin-app/scrutin">The code is here</a>.
    </div>
  </div>
  <div class="border-4 border-purple-700 m-2 pt-3">
    <h2 class="text-xl text-center">
      Free
    </h2>
    <div class="prose p-3">
      You can use this for free, forever.<br />
      <a href="https://github.com/sponsors/mjal">You can support me on github</a> if you can.
    </div>
  </div>
</div>

<div class="grid lg:grid-cols-2 pt-4">
  <div class="border-4 border-purple-700 m-2 pt-3">
    <h2 class="text-xl text-center prose pb-3">
      <a href="https://demo.scrutin.app">Web demo</a>
    </h2>
  </div>

  <div class="border-4 border-purple-700 m-2 pt-3">
    <h2 class="text-xl text-center prose pb-3">
      <a href="https://github.com/scrutin-app/scrutin/releases">Android version</a>
    </h2>
  </div>
</div>

<div class="m-2 pt-3">
  <p>
    Still a <b>prototype</b>. Do not use for important elections.</p>
  </p>
</div>

<div class="m-2 pt-3 prose">
  <a href="https://github.com/scrutin-app/scrutin/discussions">You have some feedback or want to start a discution ?</a>
</div>

<!--div class="border-4 border-purple-700 rounded-lg m-2 mt-5 p-3">
  <p class="text-center">
    <a href="https://framalistes.org/sympa/subscribe/scrutin" class="underline">
      Mailing list
    </a>
  </p>
</div-->

<article class="prose lg:prose-xl">
  {{.Content}}
</div>

{{ end }}
