{{ define "main" }}

<h1 class="pt-10 text-4xl text-center">
  secure e-voting in your pocket
</h1>

<div class="border-4 border-red-600 rounded-lg m-2 mt-10 p-3">
  <p class="text-center">This is a early prototype. Except bugs, do not use for real, meaningful elections.</p>
</div>

<div class="grid lg:grid-cols-2 pt-5">
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      Secrecy
    </h2>
    <div class="p-3">
      The content of your vote is secret.<br />
      Only the result of election if public
    </div>
  </div>
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      Verifiability
    </h2>
    <div class="p-3">
      The election process is transparent.<br />
      Everyone can verify that there was no cheating.
    </div>
  </div>
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      Open-source 💚
    </h2>
    <div class="prose p-3">
      You can use, study and share this software for free, forever.<br />
      <a href="https://github.com/scrutin-app/scrutin">The code is here</a>.
      License is AGPL. Contributors are welcome!
    </div>
  </div>
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      For free
    </h2>
    <div class="prose p-3">
      You can use this for free.<br />
      If you want, you can support me on <a href="https://github.com/sponsors/mjal">github</a>.
    </div>
  </div>
</div>


<article class="prose lg:prose-xl">
  {{.Content}}
</div>

{{ end }}
