{{ define "main" }}

<h1 class="pt-10 text-4xl text-center">
  secure e-voting in your pocket
</h1>

<div class="border-4 border-red-600 rounded-lg m-2 mt-10 p-3">
  <p class="text-center">This is an <b>early prototype</b>. Do not use for meaningful elections.</p>
</div>

<div class="border-4 border-green-600 rounded-lg m-2 mt-5 p-3">
  <p class="text-center">
    <a href="https://framalistes.org/sympa/subscribe/scrutin" class="underline">
      Click here to stay informed of project discussions and announcements.
    </a>
  </p>
</div>

<div class="grid lg:grid-cols-2 pt-2">
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      Privacy
    </h2>
    <div class="p-3">
      Nobody can read the content of your vote.<br />
      We use <b>homomorphic encryption</b> to compute the result
      without decrypting individual votes.
    </div>
  </div>
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      Verifiability
    </h2>
    <div class="p-3">
      The election process is <b>transparent</b>.<br />
      You can verify that your vote has been taken into account.<br />
      You can verify that the result correspond to the sum of the votes.<br />
    </div>
  </div>
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      Open-source 💚
    </h2>
    <div class="prose p-3">
      You can use, study and share this software for free, forever.<br />
      <a href="https://github.com/scrutin-app/scrutin">The code is here</a>.
      License is AGPL. Contributors are welcome!
    </div>
  </div>
  <div class="border-4 border-indigo-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center">
      For free
    </h2>
    <div class="prose p-3">
      You can use this for free.<br />
      If you want, you can support me on <a href="https://github.com/sponsors/mjal">github</a>.
    </div>
  </div>
</div>

<div class="grid lg:grid-cols-2 pt-4">
  <div class="border-4 border-grey-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center prose pb-3">
      <a href="https://demo.scrutin.app">Web demo</a>
    </h2>
  </div>

  <div class="border-4 border-grey-600 rounded-lg m-2 pt-3">
    <h2 class="text-xl text-center prose pb-3">
      <a href="https://github.com/scrutin-app/scrutin/releases">Android version</a>
    </h2>
  </div>
</div>


<article class="prose lg:prose-xl">
  {{.Content}}
</div>

{{ end }}
